/* ----------------Extra small------------ */
@media (max-width: 575.98px) {
  /* -----------------common css start----------------- */
  .commonBtn {
    padding: 7px;
    padding-right: 14px;
    font-size: 14px;
  }
  .commonBtn .icon {
    padding: 6px;
    width: 26px;
    height: 26px;
  }
  .commonHead h2 {
    font-size: 20px;
  }
  .commonHead p {
    font-size: 27px;
  }

  .p-v1 {
    font-size: 14px;
  }
  .p-v2 {
    font-size: 12px;
  }
  /* -----------------navber start----------------- */
  .main-menu {
    top: 4px;
  }
  .main-menu a img {
    width: 116px;
  }
  .resmain {
    background: #000000d5;
    padding: 12px;
    border-radius: 15px;
  }
  /* -----------------banner start----------------- */
  #banner {
    padding-top: 100px;
    padding-bottom: 24px;
    text-align: center;
  }
  #banner h1 {
    width: 100%;
    font-size: 31px;
  }
  #banner p {
    width: 100%;
    font-size: 12px;
  }
  #banner h2 {
    font-size: 16px;
    margin-top: 26px;
  }
  .images {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 0;
  }
  .images img {
    width: 120px;
    margin: 0 auto;
  }
  .banner-R {
    display: none;
  }
  .bannerPat {
    display: none;
  }
  /* -----------------Services start----------------- */
  #services {
    padding-top: 34px;
  }
  #services .commonHead p {
    width: 100%;
    margin: 0 auto;
  }
  .service-row {
    row-gap: 20px;
    margin-top: 26px;
    margin-bottom: 66px;
  }
  .service-card {
    width: 100%;
    padding: 25px;
  }
  .service-card .service-icon {
    font-size: 22px;
    width: 60px;
    height: 60px;
  }
  .service-card h3 {
    font-size: 20px;
    margin-top: 20px;
  }
  .service-card p {
    width: 100%;
  }
  /* -----------------About start----------------- */
  #about {
    padding: 36px 0;
  }
  .about-row .about-img {
    display: none;
  }
  .about-text {
    padding-left: 12px;
  }
  .about-text .commonHead p {
    margin: 20px 0;
    width: 100%;
  }
  .count {
    margin-top: 20px;
    margin-bottom: 26px;
  }
  .count h2 {
    font-size: 30px;
    color: var(--brand);
    font-family: var(--roboto);
    font-weight: 600;
  }
  /* -------------------Process Start------------------- */
  #process {
    margin: 44px 0;
  }
  #process .commonHead {
    margin-bottom: 36px;
    text-align: center;
  }
  #process .commonHead p {
    width: 100%;
  }
  .process_row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .iconCard {
    margin-bottom: 20px;
    text-align: center;
  }
  .iconCard .icon_head {
    justify-content: center;
  }
  .iconCard .icon_head img {
    width: 50px;
    margin-right: 5px;
  }
  .iconCard .icon_head h3 {
    font-size: 24px;
  }
  .iconCard p {
    margin-top: 16px;
    width: 100%;
  }
  .iconCard .v2-1 {
    width: 100%;
  }
  /* -------------------Showcase Start------------------- */
  #showcase .commonHead {
    margin-bottom: 40px;
  }
  .showcase_row {
    flex-direction: column-reverse;
  }
  .showBtn {
    margin-top: 1px;
    margin-bottom: 36px;
    text-align: right;
  }
  .showImage a img {
    overflow: hidden;
    width: 100%;
  }
  .showImage .overly {
    display: none;
  }
  .showcase-1 h3 {
    font-size: 22px;
  }
  .showcase-1 p {
    margin-bottom: 40px;
  }
  /* -------------------Feedback Start------------------- */
  .feedback_row {
    padding: 28px;
  }
  .feedback_row img {
    width: 100px;
  }
  .feedback_row img {
    width: 80px;
  }
  .feedback_row h2 {
    font-size: 22px;
    margin: 25px 0;
  }
  .feedback_row h5 {
    font-size: 16px;
  }
  /* -------------------Footer Start------------------- */
  #footer {
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 60px;
  }
  .footer_top {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .footer_top p {
    width: 100%;
  }
  .footer_sub {
    width: 100%;
    border-radius: 10px;
    padding: 10px 9px;
    display: block;
  }
  .footer_sub button {
    padding: 4px 0;
    border-radius: 5px;
    width: 100%;
    border: none;
  }
  .footer_top p {
    width: 100%;
    margin-top: 24px;
  }
  .footer_bottom {
    flex-wrap: wrap;
    gap: 20px;
  }
  .socialIcon div {
    width: 30px;
    height: 30px;
  }
}
/* -----------small---------- */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* -------------------medium------------------- */
@media (min-width: 768px) and (max-width: 991.98px) {
}
